.button {
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  color: white;
  font-weight: bolder;
  font-size: x-large;
  border: none;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: #678ab6 !important;
}

.button:active {
  background-color: var(--primary-color) !important;
  transform: translateY(3px);
}
