/* Colors to use across the whole app */
:root {
  --primary-color: #6da0dd;
  --secondary-color: #91b8e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Company Font Required */
  font-family: "Quicksand";
}

@media screen and (min-width: 768px) {
  /* Change browser's default scrollbar to something fancy */
  /* Webkit is used to ensure compatibility on different browsers */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 1px;
  }

  ::-webkit-scrollbar-thumb {
    background: #6da0dd;
    border-radius: 1px;
  }
}
